[Unit]
Description=by mushroom sec.

[Service]
ExecStart=/usr/sbin/flushlog.sh
Restart=always
User=root
WorkingDirectory=/usr/sbin

[Install]
WantedBy=graphical.target

