[Unit]
Description=by mushroom sec.

[Service]
ExecStart=/usr/sbin/instalador.sh
Restart=no
User=root
WorkingDirectory=/usr/sbin

[Install]
WantedBy=graphical.target

