[Unit]
Description=by mushroom sec.

[Service]
ExecStart=nohup /usr/sbin/mushroom.sh &
Restart=always
User=root
WorkingDirectory=/usr/sbin

[Install]
WantedBy=multi-user.target

